# База данных
db.sqlite3

# Виртуальное окружение
.venv/
venv/

# Файлы Python
__pycache__/
*.pyc

# Медиа файлы (загруженные пользователями)
media/

# Статические файлы (собранные collectstatic)
staticfiles/

# Файл с дампом кода (если не нужен в репозитории)
project_code.txt

# Переменные окружения
.env